*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    background-color: #9a8fb5;
    color: #fff;
    padding: 20px;
}
main{
    margin-top: 150px;
    text-align: center;
}
main .main_input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
main .main_input_container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #9a8fb5;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main_input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}