*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(27deg, #47367b 50%, #9a8fb5 50%);

  }
.form-body {
    width: 400px;
    min-width: 300px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px #fff;
    margin: 10px;
}
.form-body img {
    width: 300px;
    display: block;
    margin: 20px auto;
}
.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 25px;
}
.form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}
.form-body input[type="password"] {
    margin-top: 10px;
}
::placeholder{
font-size: 1rem;
color: rgba(255, 255, 255, .596);
}
.form-body input:hover{
    transition: 5s;
    border: 1px solid #2980b9;
    color: #2498db;
}
.form-body input[type="button"]{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    color: #b9c4c6;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
}
.form-body button:hover{
    color: #d5bddd;
    border: 2px solid #47367b;
    background:linear-gradient(#34495e,#2c3e50);
}
